body {
  margin: 0;
  background-color: white;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 36px;
  background-color: white;
  color: black;
}
.nav button:nth-child(1) {
  display: none;
}

.nav button:nth-last-child(1) {
  display: none;
}
.nav button {
  background-color: white;
  width: 25px;
  height: 5px;
  margin: 0 5px;
  font-size: 0px;
  cursor: pointer;
}
.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
}
button:disabled {
  width: 40px;
  background-color: gray;
}
